---
apiVersion: "cilium.io/v2"
kind: CiliumBGPPeerConfig
metadata:
  name: router-peer
spec:
  timers:
    connectRetryTimeSeconds: 120
    holdTimeSeconds: 90
    keepAliveTimeSeconds: 30

  gracefulRestart:
    enabled: true
    restartTimeSeconds: 120
  families:
  - advertisements:
      matchLabels:
        advertise: bgp
    afi: ipv4
    safi: unicast

---
apiVersion: "cilium.io/v2"
kind: CiliumBGPClusterConfig
metadata:
  name: cilium-bgp
spec:
  nodeSelector: {}

  bgpInstances:
  - name: default
    localASN: {{ cilium_bgp_my_asn }}

    peers:
{% if _cilium_bgp_neighbors | length > 0 %}
{% for item in _cilium_bgp_neighbors %}
    - name: peer-{{ loop.index }}
      peerAddress: "{{ item.peer_address }}"
      peerASN: {{ item.peer_asn }}
      peerConfigRef:
        name: router-peer
{% endfor %}
{% else %}
    - name: router
      peerAddress: "{{ cilium_bgp_peer_address }}"
      peerASN: {{ cilium_bgp_peer_asn }}
      peerConfigRef:
        name: router-peer
{% endif %}

---
apiVersion: "cilium.io/v2"
kind: CiliumBGPAdvertisement
metadata:
  name: default-advertisements
  labels:
    advertise: bgp
spec:
  advertisements:
  - advertisementType: Service
    service:
      addresses:
      - LoadBalancerIP

{% for pool in cilium_bgp_lb_pools %}
---
apiVersion: "cilium.io/v2"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "{{ pool.name }}"
spec:
  blocks:
{% if "/" in pool.cidr %}
    - cidr: {{ pool.cidr }}
{% else %}
    - start: {{ pool.cidr.split('-')[0] }}
      stop: {{ pool.cidr.split('-')[1] }}
{% endif %}
{% if pool.serviceSelector is defined %}
  serviceSelector:
    matchLabels:
{% for key, value in pool.serviceSelector.matchLabels.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}

